################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/POOConcepts
/POOConcepts/obj
/POOConcepts/bin/Debug/netcoreapp3.1
